<?php

function getConfigFromEnv() {
    $config = [
        'apps_paths' => [
            0 => [
                "path" => OC::$SERVERROOT . "/apps",
                "url" => "/apps",
                "writable" => false
            ],
            1 => [
                "path" => OC::$SERVERROOT . "/custom",
                "url" => "/custom",
                "writable" => true
            ],
            2 => [
                "path" => OC::$SERVERROOT . "/apps-external",
                "url" => "/apps-external",
                "writable" => true
            ]
        ],
    ];
    return $config;
}

$CONFIG = getConfigFromEnv();
